<!-- <h1>Questions#answer</h1>
 -->
<div class="demande">
<%= @question %>

<p>- you</p>
</div>

<div class="reponse">
<%= @answer  %>

<p>- your coach</p>
</div>


<%= link_to "ask a new question", ask_path %>

<!-- <p>Find me in app/views/questions/answer.html.erb</p>
 -->
