<!-- <h1>Questions#ask</h1>
 -->
<h2> ask your coach anything </h2>


<form action="/answer" class="form-control">
  <input type="text" name="question" class="form-control">
  <input type="submit" value="Ask!">
</form>



<!-- <p>Find me in app/views/questions/ask.html.erb</p>
 -->
