// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  color: gray;
}



.reponse{
  background-color: yellow;
  border-left: 5px solid gray;
  margin: 10px;
  padding: 10px;
  max-width: 500px;
}


.demande{

  border-left: 5px solid gray;
  margin: 10px;
  padding: 10px;
  max-width: 500px;


}
